{% extends 'base/base.html' %}
{% load static %}
{% block body %}
    <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h1 class="card-title">Diário</h1>
        {% include 'diario/frase_diario.html' %}
        <a href="{% url 'diario:add_entrada' %}" class="btn btn-primary">Add entrada.</a>
      </div>
    </div>
    {% if messages %}
        {% for massage in messages %}
            <h2 {% if massage.tags %}class="alert alert-success" {% endif %}>{{ massage }}</h2>
        {% endfor %}
    {% endif %}
    {% for entrada in entradas %}
            <div class="card mb-3">
                  <div class="card-header">
                    <h3 class="text-primary">{{ entrada.date_added | date:'d/m/Y - (D)' }}</h3>
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote">
                      <p>{{ entrada.text | linebreaks }}</p>
                      <footer class="blockquote-footer">Data de atualização: <cite title="Source Title">{{ entrada.date_added }}</cite></footer>
                        <a href="{% url 'diario:edit_entrada' entrada.id %}" class="btn btn-primary" style="margin-top: 10px;">Editar</a>
                    </blockquote>
                  </div>
            </div>
        {% empty %}
            <div class="card">
                  <div class="card-header">
                    <h3 class="text-black-50">Não há afirmações para serem axibidas.</h3>
                  </div>
            </div>
        {% endfor %}
{% endblock body %}