{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <main role="main" class="container">
    <div class="card text-center pb-2 mb-2 border-bottom">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h1 class="card-title text-dark">Diário</h1>
        {% include 'diario/frase_diario.html' %}
      </div>
    </div>

    <form action="{% url 'diario:edit_entrada' entrada.id %}" method='post'>

        {% csrf_token %}
        <div class="card">
              <div class="card-body">
                 <h2 class="text-primary">{{ entrada.date_added }}</h2>
              </div>
              <div class="card-body">
                    <blockquote class="blockquote">
                      <h5 class="text-primary">Entrada:</h5>
                      <p>{{ form.text|as_crispy_field}}</p>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                        <a href="{% url 'diario:del_entrada' entrada.id %}" class="btn btn-danger">Deletar</a>
                    </blockquote>
              </div>
        </div>
    </form>

    </main>
{% endblock body %}
