{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <main role="main" class="container">
    <div class="card text-center pb-2 mb-2 border-bottom">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h1 class="card-title text-dark">Afirmações</h1>
        {% include 'afirmacoes/frase_afirmacao.html' %}
      </div>
    </div>
    <form action="{% url 'afirmacoes:edit_afirmacao' afirmacao.id %}" method='post'>

        {% csrf_token %}
        <div class="card">
              <div class="card-body">
                 <h5 class="text-primary">Título: </h5>
                  {{ form.titulo|as_crispy_field }}
              </div>
              <div class="card-body">
                    <blockquote class="blockquote">
                      <h5 class="text-primary">Afirmação:</h5>
                      <p>{{ form.text|as_crispy_field}}</p>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                        <a href="{% url 'afirmacoes:del_afirmacao' afirmacao.id %}" class="btn btn-danger delete-btn-afirmacao">Deletar</a>
                    </blockquote>
              </div>
        </div>
    </form>

    </main>

{% endblock body %}
